@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Gridiron.API.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API Documentation";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<hr style="color: #000000; margin-top: 30px;"/>
<hr style="color: #000000; margin-top: 30px;" />

<header>
    <div class="container">
        <div class="text-center">
            <h1>Accessing the API</h1>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="text-center">
            <h2>Overview</h2>
        </div>
        <h4>The CFP API is a web API designed to provide ease of access to College Football stastistics and information.</h4>
        <p>The API provides several end points to access information ranging from conferences and teams to specific games and players</p>
        <hr />
    </div>

</header>
<div id="body">
    <div class="container">
        <div class="text-center">
            <h2>The APIs</h2>
        </div>
        <p>The following APIs are available for public use. While they are fully functional, the APIs are still in beta. If you happen to notice any anomalies, please notify us @Html.ActionLink("here", "Home", "About", null)</p>
        <section class="content-wrapper main-content clear-fix">
            @foreach (var group in apiGroups)
            {
                @Html.DisplayFor(m => group, "ApiGroup")
            }
        </section>
    </div>
</div>
<hr/>
<hr/>

@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
}