﻿<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Gridiron API</h1>
                    <p class="intro-text">A comprehensive resource to all of collegiate football.</p>
                    <div class="page-scroll">
                        <a href="#about" class="btn btn-circle">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Gridiron</h2>
            <p>The Gridiron API provides a public end point to information on college teams, players, conferences, and games. It uses statistics compiled at <a href="http://www.cfbstats.com">cfbstats.com</a> to aggregate the data.</p>
            @*<p>This striking, black and white theme features stock photographs by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Map skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>With this template, just the slightest splash of color can make a huge impact on the overall presentation and design.</p>*@
        </div>
    </div>
</section>
