pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 0 20px 0;
    border-top: 2px solid #D4D4D4;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #D4D4D4;
    padding: 8px 6px 8px 6px;
}

.help-page-table td {
    border-bottom: 2px solid #D4D4D4;
    padding: 15px 8px 15px 8px;
    vertical-align: top;
}

.help-page-table pre, .help-page-table p {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
}

.help-page-table tbody tr:hover td {
    background-color: #F3F3F3;
}

a:hover {
    background-color: transparent;
}

.sample-header {
    border: 2px solid #D4D4D4;
    background: #76B8DB;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0 0 0;
}

.sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0 0 10px 0;
}

.api-name {
    width: 40%;
}

.api-documentation {
    width: 60%;
}

.parameter-name {
    width: 20%;
}

.parameter-documentation {
    width: 50%;
}

.parameter-source {
    width: 30%;
}
